* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}/*remove*/

body {
    font-family: "Montserrat", sans-serif;
    color: #444;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.admin-menu-container{
    display: flex;
    flex-flow: column;
    width: 20%;
    max-width: 300px;
    margin: 60px 10px 20px;
    background: #fff;
    padding: 0;
	float: left;
	height: 60vh;
	overflow-y: auto;
}

.admin-menu-container div.title {
    display: block;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    color: #212121;
    position: relative;
}

.admin-menu-container div.back-button {
    cursor: pointer;
    display: none;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    border-top: 1px solid #ccc;
    color: #212121;
    background: #eeeeee;
    position: relative;
    transition: all 0.4s ease-out;
    order: 1;
}

/*.accordion-menu {
    width: 20%;
    max-width: 350px;
    margin: 60px auto 20px;
    background: #fff;
    border-radius: 4px;
    padding: 0;

	float: left;
	height: 60vh;
	overflow-y: auto;
}*/

#admin-menu-main-panel-id{
    display: block;
}

.admin-menu-panel{
    padding: 0;
    display: none;
    flex: 1;
    overflow: auto;
}

.accordion-menu li.open .dropdownlink {
    color: #cddc39;
}
.accordion-menu li.open .dropdownlink .fa-chevron-down {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.accordion-menu li:last-child .dropdownlink {
    border-bottom: 0;
}

.dropdownlink {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 45px;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    color: #212121;
    position: relative;
    transition: all 0.4s ease-out;
}
.dropdownlink i {
    position: absolute;
    top: 17px;
    left: 16px;
}
.dropdownlink .fa-chevron-down {
    right: 12px;
    left: auto;
}

.submenuItems {
    display: none;
    background: #c8e6c9;
    margin: 0;
    padding: 0;
    max-height: 265px;
    overflow-y: auto;
    font-size: 13px;
}

.submenuItems li {
    border-bottom: 1px solid #b6b6b6;
}

.submenuItems a {
    display: block;
    color: #727272;
    padding: 12px 12px 12px 45px;
    transition: all 0.4s ease-out;
}
.submenuItems a:hover {
    background-color: #cddc39;
    color: #fff;
}

.list-menu {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    font-size: 13px;
}

.list-menu li {
    background: #c8e6c9;
    border-bottom: 1px solid #b6b6b6;
}

.list-menu a {
    display: block;
    color: #727272;
    padding: 12px 12px 12px 12px;
    transition: all 0.4s ease-out;
}

.list-menu a:hover {
    background-color: #cddc39;
    color: #fff;
}




